# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.pot
*.pyc
*.pyo
*.db
media/
staticfiles/

# Env
.env
.venv/
venv/
.env.*

# VSCode/PyCharm
.idea/
.vscode/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
